.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.content {
  min-height: 40px;
  width: 33%;
  /* width: 50%; */
  /* width: 100%; */
}
#red {
  background-color: red;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;
}
#yellow {
  background-color: yellow;
}
#purple {
  background-color: purple;
}
#grey {
  background-color: grey;
}
